<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="~{fragments/header :: header}"/>
    <title>Who Are You?</title>
</head>
<body>

<div th:replace="~{fragments/menu ::menu}"></div>
<!--메인 페이지 이미지 -->
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
<!-- 광고와 콘텐츠를 감싸는 wrapper -->
<div class="content-wrapper">
    <div class="ad-container adLeft">
        <div th:replace="~{fragments/adLeft :: adLeft}"></div>
    </div>

    <div class="content">
        <div id="failed-message" class="failed-message" style="display: none;">
            Failed!
        </div>
        <button id="go-to-main" class="main-button" style="display:none;" onclick="goToMainPage()">Go to Main Page
        </button>
        <div class="quiz-item" id="quiz-container" data-answer="${answer.id}">
            <div id="answer-pid" class="pid-overlay" style="display:none;"></div>
            <form id="playerForm" method="post" autocomplete="off">
                <img id="player-image" alt="Player Image">
                <div id="error-message-player" class="error-message" style="display: none;">
                </div>
                <input id="player-input" name="input" type="text" placeholder="0 of 8">
                <div id="suggestions"></div>
                <div id="hintContainer" class="hints-container"></div>
            </form>
        </div>
    </div>

    <div class="ad-container adRight">
        <div th:replace="~{fragments/adRight :: adRight}"></div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
<script th:src="@{/js/valorant/whoareyou_valorant.js}"></script>
</html>