
body {
    background: linear-gradient(to bottom, #3C3C41, #1E2328);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.bh img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.menu {
    position: absolute;
    top: 0;
    left: 0; /* 좌측 상단에 고정 */
    width: 200px;
    height: 100%;
    background-color: #1A0033;
    padding: 20px;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    z-index: 99; /* 메뉴가 열렸을 때 다른 요소 위에 표시되도록 */
}
.menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.menu a:hover {
    background-color: #0AC8B9;
}
.menu-close {
    position: absolute; /* 절대 배치 */
    top: 0;
    right: 0; /* 메뉴의 오른쪽 끝에 배치 */
    background-color: transparent;
    color: white;
    border: none;
    font-size: 2em;
    cursor: pointer;
    z-index: 3;
    transition: background-color 0.3s ease;
}
.menu-toggle {
    position: absolute;
    top: 0;
    left: 0; /* 메뉴 버튼은 여전히 왼쪽에 */
    background-color: #1A0033;
    color: white;
    border: none;
    font-size: 2em;
    cursor: pointer;
    z-index: 3;
    transition: background-color 0.3s ease;
}

.menu-toggle:hover, .menu-close:hover {
    background-color: #0AC8B9;
}

.menu-open .content-container {
    margin-left: 0;
}
.menu-open .menu {
    transform: translateX(0);
}
.menu-open .content {
    margin-left: 0px;
}
.menu-open .menu-open-button {
    display: none;
}
.content-wrapper {
    display: flex; /* 좌우 광고와 컨텐츠를 한 줄에 배치 */
    justify-content: space-between; /* 공간을 양쪽으로 나눔 */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.content {
    width: 50%; /* 남은 공간을 content가 차지 */
    padding: 20px;
    box-sizing: border-box;
}
.ad-container {
    width: 15%; /* 광고의 너비 설정 */
    background: linear-gradient(to bottom, #3C3C41, #1E2328);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}
.ad-container.adLeft {
    left: 10px;
}
.ad-container.adRight {
    right: 10px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
.grid-item {
    background-color: #091428;
    position: relative;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-item::before {
    content: "";
    display: block;
    padding-top: 100%;
}
.grid-item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-item:hover {
    background-color: #0AC8B9;
}
.grid-item img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.7;
    z-index: 0;
}
.grid-item h2 {
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 3vw; /* 화면 너비의 3%에 해당하는 글씨 크기 */
}

.grid-item p {
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 2vw; /* 화면 너비의 2%에 해당하는 글씨 크기 */
}

.grid-item .play-button {
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 2.5vw; /* 화면 너비의 2.5%에 해당하는 글씨 크기 */
    background-color: #ceff27;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}


.quiz-item {
    background-color: #091428;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s;
}
.quiz-item img {
    width: 100%;
    border-radius: 10px;
    filter: blur(30px);
    transition: filter 0.3s;
    pointer-events: none;
}
.quiz-item input {
    margin-top: 10px;
    padding: 5px;
    width: 80%;
}
.quiz-item.correct img {
    filter: none;
}
.quiz-item.correct {
    background-color: #4CAF50;
}
.quiz-item.incorrect {
    background-color: #f44336;
}
.suggestions {
    background-color: #091428;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    max-height: 150px;
    overflow-y: auto;
    display: block;
}
.suggestions div {
    padding: 5px;
    cursor: pointer;
}
.suggestions div:hover {
    background-color: #0AC8B9;
}
.hints-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    padding-top: 20px;
}
.hint-row {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.hint-item {
    display: none;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.hint-item.fade-in {
    display: flex;
    animation: fadeIn 0.75s forwards;
}
.hint-item .cover {
    background-color: #808080;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    transition: background-color 0.75s;
}
.hint-item img {
    width: 60%;
    height: 60%;
}

input[disabled] {
    background-color: #e0e0e0; /* 비활성화된 상태일 때 배경색 */
    color: #888; /* 비활성화된 상태일 때 텍스트 색 */
    cursor: not-allowed; /* 마우스 커서 */
}
#player-image {
    width: 50%;
    height: 50%;
    transition: background-color 1s ease; /* 1초 동안 배경색을 천천히 변경 */
}