<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="~{fragments/header :: header}"/>
    <title>Piece Of Puzzle</title>
</head>
<body>
<!--메인 페이지 이미지 -->
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
<!-- 광고와 콘텐츠를 감싸는 wrapper -->
<div class="content-wrapper">
    <div class="ad-container adLeft">
        <div th:replace="~{fragments/adLeft :: adLeft}"></div>
    </div>

    <div class="content">
        <div id="failed-message" class="failed-message" style="display: none;">
            Failed!
        </div>
        <!-- 오버레이 HTML 구조 -->
        <div id="quiz-overlay" class="quiz-overlay" style="display: none;">
            <canvas id="canvas"></canvas>
            <div class="quiz-overlay-content">
                <h2>Finish!</h2>
                <p>Correct : <span id="correct-count-overlay"></span> / Total : <span id="total-count-overlay"></span></p>
                <button id="go-to-main" class="main-button" onclick="goToMainPage()">Go to Main Page</button>
            </div>
        </div>
        <div class="quiz-item">
            <div id="question-number" class="question-number">1</div>
            <!-- 맞춘 개수 / 전체 개수를 표시할 영역 -->
            <div id="quiz-progress" style="font-size: 18px; font-weight: bold; color: white;">
                Correct : <span id="correct-count">0</span> / Total : <span id="total-count">0</span>
            </div>
            <form id="playerForm" method="post"  autocomplete="off">
                <div id="error-message-player" class="error-message" style="display: none;">
                </div>
                <div id="quiz-info" class="hints-container">
                    <div class="hint-row">
                        <div class="cover">
                            <img id="team-image" alt="Team Image">
                            <div id="team-name"></div>
                        </div>
                        <div class="cover">
                            <img id="player-image" alt="Player Image">
                            <div id="progamer-tag"></div>
                        </div>
                    </div>
                </div>
                <input id="player-input" name="input" type="text" >
                <div id="suggestions"></div>
                <div id = "hintContainer" class="hints-container"></div>
            </form>
        </div>
    </div>

    <div class="ad-container adRight">
        <div th:replace="~{fragments/adRight :: adRight}"></div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/lol/pieceofpuzzle_lol.js}"></script>
</body>
</html>