<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>I got you! - Premier League Quiz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--메뉴 -->
<button class="menu-toggle menu-open-button" onclick="toggleMenu()">☰</button>
<div th:replace="~{fragments/menu ::menu}"></div>
<!--메인 페이지 이미지 -->
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
<!-- 광고와 콘텐츠를 감싸는 wrapper -->
<div class="content-wrapper">
    <div class="ad-container adLeft">
        <div th:replace="~{fragments/adLeft :: adLeft}"></div>
    </div>

    <div class="content">
        <div id="failed-message" class="failed-message" style="display: none;">
            Failed!
        </div>
        <button id="go-to-main" class="main-button" style="display:none;" onclick="goToMainPage()">Go to Main Page</button>
        <div class="quiz-item" data-answer="${answer.id}" style="background-color: #c0c3cf">
            <div id="answer-pid" class="pid-overlay" style="display:none;"></div>
            <form id="playerForm" method="post">
                <div id = "hintContainer" class="hints-container"></div>
                <input id="player-input" name="input" type="text">
                <div id="suggestions"></div>
            </form>
        </div>
    </div>
    <div class="ad-container adRight">
        <div th:replace="~{fragments/adRight :: adRight}"></div>
    </div>
    <!-- 가이드 오버레이 -->
    <div id="guide-overlay" class="guide-overlay" style="display: none;">
        <div class="guide-content">
            <h2>Welcome to the Quiz!</h2>
            <p>This is a Progamer guessing game.
                <br>You can choose the number of quizzes!
                <br>When we list the player's team, you just have to get the answer right!
                <br>Use those hints to answer correctly!
                <br>Please choose the number of quizzes!
            </p>
            <button onclick="closeGuide(10)" class="main-button">10</button>
            <button onclick="closeGuide(20)" class="main-button">20</button>
            <button onclick="closeGuide(30)" class="main-button">30</button>

        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/igotyou.js}"></script>
</body>
<script th:inline="javascript">
    // quizList를 JSON 형식으로 변환하여 JavaScript 변수에 할당
    let quizList = /*[[${quizList}]]*/ [];
    console.log('QuizList from Server:', quizList);  // 전달된 데이터를 콘솔에 출력
</script>
</html>