<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <th:block th:insert="~{fragments/header :: header}"/>
    <title>Piece Of Puzzle</title>
</head>
<body>
<!--메뉴 -->
<div th:replace="~{fragments/menu ::menu}"></div>
<!--메인 페이지 이미지 -->
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
<!-- 광고와 콘텐츠를 감싸는 wrapper -->
<div class="content-wrapper">
    <div class="ad-container adLeft">
        <div th:replace="~{fragments/adLeft :: adLeft}"></div>
    </div>

    <div class="content">
        <div id="failed-message" class="failed-message" style="display: none;">
            Failed!
        </div>
        <!-- 오버레이 HTML 구조 -->
        <div id="quiz-overlay" class="quiz-overlay" style="display: none;">
            <canvas id="canvas"></canvas>
            <div class="quiz-overlay-content">
                <h2>Finish!</h2>
                <p>Correct : <span id="correct-count-overlay"></span> / Total : <span id="total-count-overlay"></span></p>
                <button id="go-to-main" class="main-button" onclick="goToMainPage()">Go to Main Page</button>
            </div>
        </div>
        <div class="quiz-item">
            <div id="question-number" class="question-number">1</div>
            <!-- 맞춘 개수 / 전체 개수를 표시할 영역 -->
            <div id="quiz-progress" style="font-size: 18px; font-weight: bold; color: white;">
                Correct : <span id="correct-count">0</span> / Total : <span id="total-count">0</span>
            </div>
            <form id="playerForm" method="post"  autocomplete="off">
                <div id="error-message-player" class="error-message" style="display: none;">
                </div>
                <div id="quiz-info" class="hints-container">
                    <div class="hint-row">
                        <div class="cover">
                            <img id="teamValorant-image" alt="Team Image">
                            <div id="teamValorant-name"></div>
                        </div>
                        <div class="cover">
                            <img id="player-image" alt="Player Image">
                            <div id="progamerLOL-tag"></div>
                        </div>
                    </div>
                </div>
                <input id="player-input" name="input" type="text" >
                <div id="suggestions"></div>
                <div id = "hintContainer" class="hints-container"></div>
            </form>
        </div>
    </div>

    <div class="ad-container adRight">
        <div th:replace="~{fragments/adRight :: adRight}"></div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<!-- 가이드 오버레이 -->
<div id="guide-overlay" class="guide-overlay" style="display: none;">
    <div class="guide-content">
        <h2>Piece Of Puzzle!</h2>
        <p>프로게이머를 주어진 기회 안에 맞히는 게임 입니다.
            총 15개 팀이 주어집니다,
            주어진 힌트를 활용해 최대한 많은 선수를 맞혀보세요!</p>
        <button onclick="closeGuide('leagueoflegends')" class="main-button">LOL</button>
        <button onclick="closeGuide('valorant')" class="main-button">VALORANT</button>
    </div>
</div>
<script th:src="@{/js/pieceofpuzzle.js}"></script>
</body>
<script th:inline="javascript">
    // 브라우저 언어 가져오기
    const userLang = navigator.language || navigator.userLanguage;
    let selectedLang = userLang.startsWith('ko') ? 'ko' : 'en'; // 한국어이면 'ko', 나머지 'en'

    // JSON 파일에서 언어 데이터를 로드
    fetch('/database/Language.json')
        .then(response => response.json())
        .then(data => {
            // 적절한 언어 데이터 사용
            document.getElementById('error-message-player').textContent = data[selectedLang]['error-message-player'];
        })
        .catch(error => console.error('Error loading language data:', error));

</script>
</html>