<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>Who Are Ya? - Premier League Quiz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--메뉴 -->
<button class="menu-toggle menu-open-button" onclick="toggleMenu()">☰</button>
<div th:replace="~{fragments/menu ::menu}"></div>
<!--메인 페이지 이미지 -->
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
<!-- 광고와 콘텐츠를 감싸는 wrapper -->
<div class="content-wrapper">
    <div class="ad-container adLeft">
        <div th:replace="~{fragments/adLeft :: adLeft}"></div>
    </div>

    <div class="content">
        <div class="quiz-item" data-answer="${answer.id}">
            <form id="playerForm" method="post">
                <img id="player-image" th:src="@{${imagePath}}" alt="Player Image">
                <input id="player-input" name="input" type="text" placeholder="1 of 8">
                <div id="suggestions"></div>
                <div class="hints-container"></div>
            </form>
        </div>
    </div>

    <div class="ad-container adRight">
        <div th:replace="~{fragments/adRight :: adRight}"></div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/whoareyou.js}"></script>
</body>
<script th:inline="javascript">
    const tryStatus = /*[[${try}]]*/ 0;  // 서버에서 받아온 값을 사용할 때는 기본값도 설정
    console.log("Try Status from server: ", tryStatus);
</script>
</html>